

:root{
    --primary-color:#4c243b;
    --secondary-color:#Ac7B84;
    --auxilliary-color:#fff;
    --padding-horizontal:100px;
    --padding-horizontal:100px;
    --card-background-color:#FFEFF2;

}
html,body{
    margin: 0;
    font-family: "poppis",sans-serif;
}
body,h1,h3,p{
    margin: 0;
    font-family:"poppins",sans-serif ;
}
nav{
    background-color:  var(--primary-color);
    display: flex;/*arranges a element  on one row*/
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    
}
nav>div>a{
    color: #fff;
    text-decoration: none;
    font-size: medium;
}
nav>div>h1{
    color: #fff;
    margin-left: 4px;
}
.logo{
    display: flex;
}


#homeSection{
    display: flex;
    height: 80vh;
    padding-left:var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
    align-items: center;
}
#homeSection>img{
   aspect-ratio: 1/1;/*enabled uniformity a s it scale*/
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
#homeSection>div{
    padding-left: 120px;
    margin: 30vw;
}
#homeSection>div>h1{
    font-size: 64px;
    margin: 0;
    color: var(--primary-color);
}
#homeSection>div>p{
    font-size: 16px;
    margin: 0;
    padding-bottom: 10px;
    font-weight: 300;
    color: var(--secondary-color);

}
#homeSection>div>button{
    background-color: var(--primary-color);
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom:10px ;
    padding-top: 12px;
    border-radius: 50px;
    transition:2s ;
    }
#homeSection>div>button:hover{
   background-color: #4c243b; 
    color: violet;
    cursor: pointer;
}
#projectSection>.projects{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
}
#projectSection>div>h1{
    color: var(--primary-color);
    font-size: 40px;
    text-align: center;
}
#projectSection>div>p{
    color: var(--secondary-color);
   font-weight: 300; 
   text-align: center;
   margin: 0;
} 
#projectSection>.projects > .card{
    background-color: #4c243b;
    width: 311px;
    height: 355px;
    border-radius: 30px;
    margin:12px ;
    padding: 16px;
}
#projectSection>div>button{
 background-color: var(--primary-color);
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom:10px ;
    padding-top: 12px;
    border-radius: 50px;
    transition:2s ;
}
#projectSection>div>button:hover{
    cursor: pointer;
    background-color: #4c243b;
color: blue;
    
    
}
#projectSection>.projects >.card>img{
    width: 100%;
    height: 158px;
    aspect-ratio: 1/1;
   object-fit: cover;
   border-radius: 30px;
   margin-left: 16px;
   margin-right: 16px;
   margin-top: 16px; 

}
#projectSection>.projects>.card>button{
 color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom:10px ;
    padding-top: 12px;
    border-radius: 50px;
    transition:2s ;
   background-color: var(--primary-color); 
}
#projectSection>.projects>.card>h3{
font-size: 20px;
color: var(--primary-color);
margin-top: 16px;
}
#projectSection>.projects>.card>p{
    color: var(--secondary-color);
    font-size: 12px;
    margin-top: 12px;
}
#contactSection{
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
    height: 60vh;
}
#contactSection>form{
    padding: 24px;
    background-color: cyan;
    width: 60vw;
    border-radius: 30px;
    margin: auto;   
}
#contactSection>form>.usermessage{
    margin-top: 16px;
    padding-left: 12px;
    padding-right: 12px;
}
#contactSection>form>.userEmailName,.userBirthdayAge{
    display: flex;
}
#contactSection>form>.userEmailName,.userBirthdayAge>div>label{
    font-weight: 500;
    color: var(--primary-color);
}
#contactSection>form>.userEmailName>div>input{
    all: unset;
    border-radius: 12px;
    width: 25vw;
    background-color: white;
    padding-left: 16PX;
    padding-right: 16PX;
    padding-bottom: 4PX;
    padding-top: 4px;
    display: flex;
    font-size: 12PX;
    height: 30px
}
#contactSection>form>.userBirthdayAge>div>input{
    all: unset;
    border-radius: 12px;
    width: 25vw;
    background-color: white;
    padding-left: 16PX;
    padding-right: 16PX;
    padding-bottom: 4PX;
    padding-top: 4px;
    display: flex;
}
#contactSection>form>h1{
    text-align: center;
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--primary-color);
}
#contactSection>form>div{
    margin-top: 16px;
    padding-right: 12px;
    padding-right: 12px;
    
}
#contactSection>form>div>label{
    font-weight: 500;
    color: deeppink;
}
#contactSection>form>div>input{
    all:unset;
    border-radius: 12px;
    background-color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 12px;
    margin-top: 8px;
    width: 90%;
}
#contactSection>form>div>textarea{
 all:unset;
    border-radius: 12px;
    background-color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 12px;
    width: 100%;
    height: 100px;
}
#contactSection>form>button{
    background-color: var(--primary-color);
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom:10px ;
    padding-top: 12px;
    border-radius: 50px;
    transition:2s ;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
#contactSection>form>button:hover{
    cursor: pointer;
    background-color: deeppink;
    color: chartreuse;
}



















